{% extends "layout.html" %}
{% block content %}
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">2nd floor</div>
            <div class="btn-wrapper text-center">
              <a href="#" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Stairs</span>
              </a>
              <a href="#" class="btn btn-neutral btn-icon active">
                <i class="btn-inner--icon ni ni-bulb-on"></i>
                <span class="btn-inner--text">Study</span>
              </a>
            </div>
            <div class="btn-wrapper text-center">
              <a href="#" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Studio</span>
              </a>
              <a href="#" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Outside</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock}
