<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VOX</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/static/css/argon.css?v=1.0.0" rel="stylesheet">
</head>

<body class="bg-default">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    <!-- Page content -->
    {% block content %}{% endblock %}
  <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/js/argon.js?v=1.0.0"></script>
</body>

</html>
