{% extends "layout.html" %}
{% block content %}
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">2nd floor</div>
            <div class="btn-wrapper text-center">
              {% if light_status[20] %}
              <a href="{{url_for('lights', status='off', id=20) }}" class="btn btn-neutral btn-icon active">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Stairs</span>
              </a>
              {% else %}
              <a href="{{url_for('lights', status='on', id=20) }}" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Stairs</span>
              </a>
              {% endif %}
              {% if light_status[21] %}
              <a href="{{url_for('lights', status='off', id=21) }}" class="btn btn-neutral btn-icon active">
                <i class="btn-inner--icon ni ni-bulb-on"></i>
                <span class="btn-inner--text">Study</span>
              </a>
              {% else %}
              <a href="{{url_for('lights', status='on', id=21) }}" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-on"></i>
                <span class="btn-inner--text">Study</span>
              </a>
              {% endif %}
            </div>
            <div class="btn-wrapper text-center">
              {% if light_status[16] %}
              <a href="{{url_for('lights', status='off', id=16) }}" class="btn btn-neutral btn-icon active">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Studio</span>
              </a>
              {% else %}
              <a href="{{url_for('lights', status='on', id=16) }}" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Studio</span>
              </a>
              {% endif %}
              {% if light_status[19] %}
              <a href="{{url_for('lights', status='off', id=19) }}" class="btn btn-neutral btn-icon active">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Outside</span>
              </a>
              {% else %}
              <a href="{{url_for('lights', status='on', id=19) }}" class="btn btn-neutral btn-icon">
                <i class="btn-inner--icon ni ni-bulb-off"></i>
                <span class="btn-inner--text">Outside</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
